SETTINGS_ENCRYPTION_KEY=00000000000000000000000000000000
LOG_LEVEL=info
SERVER_PORT=4050
SERVER_HOST=localhost
ENVIRONMENT=development
ENABLE_METRICS=true
ENABLE_DOCS_CREATION=true
DB_HOST=mongodb://localhost:27017/